{# Pico SDK Header Template #}
#ifndef {{ h_guard }}
#define {{ h_guard }}

#include "pico/stdlib.h"

// (FSM_State_t and FSM_Event_t enums - same as Arduino template)
// ...
// (FSM Core API and User Action Prototypes - same as Arduino template)
// ...

#endif // {{ h_guard }}